.deportes-container {
    text-align: center;
  padding: 20px;
}

.text-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.deportes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.deporte-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.deporte-card h5 {
    font-size: 20px;
    color: #333;
}

.deporte-card h6 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.deporte-card p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.ver-mas {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.ver-mas:hover {
    background-color: #1c86ee;
}

.deporte-card:hover {
    transform: translateY(-5px);
}

.category-filter {
    margin-top: 20px;
    text-align: center;
}

.category-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-filter {
    margin-left: 10px;
    background-color: #e0e0e0;
    color: #000;
}
