
.events-container {
    text-align: center;
  padding: 20px;
}


.text-container h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}


.search-container {
    width: 100%;
    margin: 0 auto 20px; /* Cambiar a 0 auto para centrar el contenedor */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Alinear verticalmente (si es necesario) */
    background-color: #002776; /* Cambia este valor al color que prefieras */
    padding: 15px; /* Añade un poco de espacio interno */
    border-radius: 8px;
}


.search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: var(--input-shadow);
}

.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.event-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.event-card:hover {
    transform: scale(1.05); /* Efecto hover */
}

.event-card h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-text);
}

.event-card h6 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--secondary-text);
}

.event-card p {
    font-size: 0.9rem;
    color: var(--paragraph-text);
    margin-bottom: 15px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.ver-mas {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ver-mas:hover {
    background-color: var(--primary-hover-color);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: var(--modal-shadow);
    position: relative;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--primary-text);
}

.modal-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-text);
}

.modal-content p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--paragraph-text);
}

.event-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: var(--image-shadow);
}
