<<<<<<< HEAD
/* Estilos generales para el header */
.header {
    width: 100%;
    background-color: #f8f8f8;
  }

  .header-top {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #002776;
    padding: 10px 20px;
  }

  .logo {
    height: 110px;
    width: 250px;
  }

  .social-icons {
    display: flex;
    align-items: right;
    margin-right: 125px;
  }

  .social-icons a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }

  .header-top .admin-button {
    display: flex;
    align-items: center;
    margin-right: auto; /* Empuja el botón hacia la izquierda */
  }

  .admin-button a {
    color: white;
    font-size: 20px;
    text-decoration: none; /* Elimina el subrayado del enlace */
  }

  .search-bar {
    padding: 5px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    background-color: white;
    margin-right: 110px;
  }

  /* Estilos para la barra de navegación */
  .navbar {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .navbar ul li {
    margin-right: 30px;
    margin-left: 30px;
    align-content: center;
    font-size:x-large;
  }

  .navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .navbar ul li a:hover {
    color: #00aaff; /* Cambia el color al pasar el mouse */
=======
/* Estilos generales para el header */
.header {
    width: 100%;
    background-color: #f8f8f8;
  }

  .header-top {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #002776;
    padding: 10px 20px;
  }

  .logo {
    height: 110px;
    width: 250px;
  }

  .social-icons {
    display: flex;
    align-items: right;
    margin-right: 125px;
  }

  .social-icons a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }

  .header-top .admin-button {
    display: flex;
    align-items: center;
    margin-right: auto; /* Empuja el botón hacia la izquierda */
  }

  .admin-button a {
    color: white;
    font-size: 20px;
    text-decoration: none; /* Elimina el subrayado del enlace */
  }

  .search-bar {
    padding: 5px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    background-color: white;
    margin-right: 110px;
  }

  /* Estilos para la barra de navegación */
  .navbar {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .navbar ul li {
    margin-right: 30px;
    margin-left: 30px;
    align-content: center;
    font-size:x-large;
  }

  .navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .navbar ul li a:hover {
    color: #00aaff; /* Cambia el color al pasar el mouse */
>>>>>>> origin/juanGarzon
  }