.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.modal-content {
  background: linear-gradient(135deg, #ffffff 0%, #f0f4ff 100%);
  border-radius: 15px;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  position: relative;
  animation: slideIn 0.3s ease-out;
  overflow: hidden;
  overflow-y: hidden;
}

.modal-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: linear-gradient(90deg, #002776, #002776);
}

.modal-content h2 {
  color: #2d3748;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.modal-content img {
  max-width: 100%;
  height: auto;
}

.modal-content h4 {
  color: #4a5568;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.info-section {
  background-color: #edf2f7;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.info-item:last-child {
  margin-bottom: 0;
}

.info-label {
  font-weight: 600;
  color: #4a5568;
  width: 80px;
  flex-shrink: 0;
}

.info-value {
  color: #2d3748;
  flex-grow: 1;
}

.modal-content p {
  color: #4a5568;
  font-size: 1rem;
  line-height: 1.3;
  text-align: justify;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: normal;
  overflow-y: auto; /* Aplica el scroll aquí */
  max-height: 200px;
}

.modal-content p::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de scroll */
}

.modal-content p::-webkit-scrollbar-thumb {
  background-color: #002776; /* Color de la barra de scroll */
  border-radius: 10px; /* Borde redondeado para el "thumb" */
  border: 2px solid #f0f0f0; /* Espacio entre la barra y el track */
}

.modal-content button {
  background: linear-gradient(90deg, #002776, #002776);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.modal-content button:hover {
  background: linear-gradient(#002776);
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@media (max-width: 640px) {
  .modal-content {
    width: 95%;
    padding: 1.5rem;
  }

  .modal-content h2 {
    font-size: 1.8rem;
  }

  .modal-content h4 {
    font-size: 1.1rem;
  }

  .info-section {
    padding: 0.8rem;
  }

  .info-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-label {
    width: auto;
    margin-bottom: 0.2rem;
  }

  .modal-content button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}